body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;}

header {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    background-color: #d39329;
    align-items: center;
    padding: 10px;
}

.logotipo {
    display: flex;
    align-items: center;
}

.logotipo img {
    height: 50px;
    margin-right: 10px;
}

.nombre-empresa {
color: black;
}
.nav-links {
color: black;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

@media (max-width:600px){

    header {
        flex-direction: column;
    }

    nav {
    padding: 10px 0;
}
}

footer {
    background-color: #d39329;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.ma-footer {
    display: flex;
    justify-content: center;
}

.grid-items ul {
    list-style: none;
    padding: 0;
}

.grid-items a {
    color: black;
}

.grid-items {
    text-align: center;
}

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .grid-items {
        width: 100%;
        margin-bottom: 20px;
    }
}



